.site-header {
  padding: 10px 0;
}

.header-inner {
   display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.header-left .site-logo {
  height: 50px;
  cursor: pointer;
}

.header-left {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.body {
  background-color: #2a2a49;
  padding: 0;
}

.logo-text {
  font-size: 1rem;
  color: white;
  margin-bottom: 3px;
}

.header-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  min-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 150px;
}

.site-title-img {
  height: 45px;
}

.header-left, .header-right {
  z-index: 10;
}

.site-logo {
  transition: transform 0.6s ease-in-out;
  transform: rotate(0deg);
  width: auto;
  height: 60px;
  cursor: pointer;
}

.header-right{
  flex-wrap: wrap;
}

.header-right .btn {
  padding: 6px 18px;
  margin-left: 10px;
  transition: 0.2s;
}

.sub-header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
  align-items: center;
  padding: 12px 24px;
  border-bottom: 1px solid #444;
  flex: 1 1 200px;
  min-width: 150px;
}

.sub-header .sections {
  display: flex;
  flex: 2 1 300px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.categories {
  display: flex;
  gap: 16px;
}

.sub-header .categories {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.categories .category {
  text-decoration: none;
  color: white;
  background-color: #4b7cb1;
  padding: 6px 12px;
  border-radius: 4px;
  transition: 0.2s;
}

.category-item {
  display: inline-block;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.categories .category:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.btn-sm:hover{
  transform: scale(1.1);
}

.btn-sm{
  display: inline-block;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.search-box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.search-input {
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
  width: 180px;
  transition: border 0.2s;
  transition: transform 0.1s ease;
  cursor: pointer;
}

.search-input:hover{
  transform: scale(1.05) translateX(5px);
}

.search-input:focus {
  border-color: #007bff;
}

.search-icon {
  width: 24px;
  height: 24px;
}

.movies{
  background-color: rgb(61, 61, 61);
  border-bottom: 1px solid #444;
}

.movie-card img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.movie-card img:hover {
  transform: scale(1.05);
}

.imdb-badge {
  position: absolute;
  top: 0.4em;
  right: 0.4em;
  background: rgba(0, 0, 0, 0.75);
  padding: 0.25em 0.6em;
  border-radius: 0.5em;
  color: gold;
  font-weight: bold;
  font-size: 0.85rem;
  border: 1px solid gold;
  transition: font-size 0.25s ease;
  z-index: 10;
}

.movie-card:hover .imdb-badge {
  font-size: 0.9rem;
}

.movies h2 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: white;
}

.popular{
  background-color: rgb(39, 39, 39);
  border-bottom: 1px solid #444;
}

.text-white{
  background-color: rgb(102, 102, 102);
}

p.mt-2.text-white {
    border-radius: 6px;
}

.noBack {
  background: none !important;
  background-color: transparent !important;
}

.movie-title-parent{
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: rgb(102, 102, 102);
  border-radius: 6px;
  padding: 4px;
  margin-top: 7px;

  height: 2.6rem;
  line-height: 1.3;
}

.movie-title {
  margin-top: 0 !important;
  margin-bottom: 0;
  text-align: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.title-bg {
  display: inline-block;
  padding: 4px 8px;
}

.movie-card img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.movie-card img:hover {
  transform: scale(1.05);
}

.popular h2 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: white;
}

.title-under {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: white;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.title-under:hover {
  color: #747272;
}

.modal-backdrop-custom {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-window {
  background: #232323;
  padding: 25px;
  border-radius: 10px;
  width: 350px;
  max-width: 90%;
  box-shadow: 0px 0px 25px rgba(0,0,0,0.3);
  animation: fadeIn 0.25s ease;
}

.modal-title {
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  color: #ffffff;
}

.btn-primary {
  background-color: #4b7cb1 !important;
  border-color: #4b7cb1 !important;
}

.btn-primary:hover {
  background-color: #0056b3 !important;
  border-color: #0056b3 !important;
}

@keyframes fadeIn {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .header-left, .header-center, .header-right {
    flex-basis: 100%;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
  }

  .header-right .btn {
    margin: 4px;
  }

  .sub-header {
    flex-direction: column;
    align-items: stretch;
  }

  .categories{
    margin-top: 5px;
    margin-bottom: 20px;
  }
  .search-box{
     margin-bottom: 5px;
  }

  .sub-header .search-container,
  .sub-header .sections {
    width: 100%;
    justify-content: center;
    margin-bottom: 8px;
  }  

  .sub-header .sections {
    flex-wrap: wrap;
    gap: 6px;
  }

  .sub-header.container {
    margin-top: -40px;
  }
}

@media (max-width: 1200px) {
  .header-left, .header-center, .header-right {
    flex-basis: 100%;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
  }

  .header-right .btn {
    margin: 4px;
  }
}