name: CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      version:
        description: 'Image version'
        required: true

env:
  REGISTRY: "registry.digitalocean.com/kinodroch"
  IMAGE_NAME: "elokuva-sovellus"

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v4

      - name: Build backend container image
        run: |
          docker build \
            -t $REGISTRY/$IMAGE_NAME:$(echo $GITHUB_SHA | head -c7) \
            -f elokuva-sovellus/backend/Dockerfile \
            elokuva-sovellus/backend

      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}

      - name: Log in to DigitalOcean Container Registry with short-lived credentials
        run: doctl registry login --expiry-seconds 600

      - name: Remove all old images (optional, can be removed)
        run: |
          if [ ! -z "$(doctl registry repository list | grep "$IMAGE_NAME")" ]; then
            doctl registry repository delete-manifest \
              $IMAGE_NAME \
              $(doctl registry repository list-tags $IMAGE_NAME | grep -o "sha.*") \
              --force
          else
            echo "No repository"
          fi

      - name: Push image to DigitalOcean Container Registry
        run: docker push $REGISTRY/$IMAGE_NAME:$(echo $GITHUB_SHA | head -c7)

  deploy:
    runs-on: ubuntu-latest
    needs: build_and_push

    steps:
      - name: Deploy to DigitalOcean Droplet via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.DROPLET_HOST }}
          username: ${{ secrets.DROPLET_USER }}   # root
          key: ${{ secrets.SSH_KEY }}             # your id_ed25519 content
          script: |
            docker login -u ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }} -p ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }} registry.digitalocean.com

            # Stop and remove old container if it exists
            docker stop $IMAGE_NAME || true
            docker rm $IMAGE_NAME || true

            # Run new container
            docker run -d \
              --restart always \
              --name $IMAGE_NAME \
              $REGISTRY/$IMAGE_NAME:$(echo $GITHUB_SHA | head -c7)
